.title-container {
    background-color: red;
    border-radius: 50%;
    padding: 20px;
    border: 2px dashed white;
  }
  
  .title {
    color: white;
    margin: 0;
  }
  
  .home-container {
    background-color: turquoise;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  