/* lobi.css */
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.lobi-container {
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-btn {
  font-size: 24px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.navbar-btn:hover {
  color: red;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 10px;
}

.user-rating {
  margin-right: 5px;
}

.main-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px; /* Adjust this value as needed */
  margin: 250px 0;
}

.main-button {
  padding: 50px 50px;
  margin: 50px;
  font-size: 18px;
  border: 2px dashed #fff;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
}

.blue {
  background-color: #4899bf;
}

.green {
  background-color: #25ae56;
}

.purple {
  background-color: #d7a1e3;
}

.orange {
  background-color: #e98b1b;
}

.main-button:hover {
  opacity: 0.8;
}

.main-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Adjust this value as needed */
}

.lobi-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#47b3a1, #d9eed9);
}

.money-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Make sure it's behind other content */
  overflow: hidden;
}

@keyframes moveMoney {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 1000px;
  } /* Adjust the values to control the speed and distance */
}

.money-background {
  animation: moveMoney 20s linear infinite; /* Adjust the duration and timing function as needed */
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.avatar-container {
  margin-top: 10px;
}
.avatar-container img {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
}

.deepblue {
  color: #0c77aa; /* Replace with a valid color value */
}

.darkpurple {
  color: #a970ad;
}

.gray {
  color: rgb(94, 93, 93);
}

.navbar-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  direction: rtl; /* Add this line */
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar-container {
  margin-right: 10px;
}

.avatar-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.username {
  font-weight: bold;
}

.greeting {
  font-size: 14px;
  font-weight: bold;
  color: #888;
}

.user-rating {
  display: flex;
  align-items: center;
}

.trophy-icon {
  margin-right: 5px;
}
