.title-container {
  text-align: center;
}

.title-container {
  background-color: red;
  border-radius: 30px;
  border: 2px dashed white;

}

.title {
  color: white;
  margin: 0;
}
.title {
  font-family: Jazz LET, fantasy;
  font-size: 6em; /* Increase font size */
  font-weight: bold; /* Make the font bold */
  color: white;
  text-shadow: 2px 2px 4px #000;
  animation: rainbow 3s infinite;
  width:20%;
  padding: 20px;
  
}


@keyframes rainbow {
  0% {
    color: #ff69b4;
  } /* Pink */
  20% {
    color: #ffd700;
  } /* Yellow */
  40% {
    color: #7cfc00;
  } /* Lime */
  60% {
    color: #00bfff;
  } /* Deep Sky Blue */
  80% {
    color: #9370db;
  } /* Medium Purple */
  100% {
    color: #ff69b4;
  } /* Pink */
}

/* title.css */

